* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: teal;
}

.window-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.window{
    width: 80%;
    max-width: 35rem;
    background-color: lightgrey;
    border: 3px solid;
    border-color: white black black white;
    box-shadow: 3px 3px 5px 0px rgb(77, 77, 77);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 3rem;
    color: white;
    background-color: blue;
    font-weight: bold;
    
  height: 30px;
  align-items: start;

}

.content-text {
    align-items: center;
  display: flex;
  justify-content: space-around; /* optional: vertically align */
  gap:10px;           /* space between image and text */
}

.col-btn{
    display: flex;
    justify-content: end;
    padding-right: 3rem;
}

.content {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col-btn button {
    padding: 0.2rem 0.4rem;
    border: 3px solid white;
    border-right-color: black;
    border-bottom-color: black;
    box-shadow: 3px 3px 5px 0px rgb(77, 77, 77);
}

.icon{
   width: 3rem; 
   height: 3rem;
}